{% extends 'base.html' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}
<body class="text-center">
<div class="container">
    <form method="POST" class="form-register" style="color:white">
        <!--        this protects us from hackers(CSRF) by generating some token, by Flask-->
        {{ form.hidden_tag() }}
        <img style="height: 250px; padding-top: 30px" class="mb-4"
             src="https://imgs.search.brave.com/J5JLXlVX8wNWDfNpD6fE1vuYTxs1wgZxRgFkEDnEVaA/rs:fit:1024:536:1/g:ce/aHR0cHM6Ly9tb2Jp/bGVtb25rZXkuY29t/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDIw/LzEyL3dlbGNvbWUt/Z3JlZXRpbmctbWVz/c2FnZS0xMDI0eDUz/Ni5wbmc"
             alt="">
        <h1 class="h3 mb-3 font-weight-normal">
            Please create Your account
        </h1>
        <br>
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="User Name") }}

        {{ form.email_address.label() }}
        {{ form.email_address(class="form-control", placeholder="Email Address") }}

        {{ form.password1.label() }}
        {{ form.password1(class="form-control", placeholder="Password") }}

        {{ form.password2.label() }}
        {{ form.password2(class="form-control", placeholder="Confirm Password") }}
        <br>

        <div class="checkbox mb-3">
            <h6>Already have an account?</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
        </div>

        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
</div>
</body>
{% endblock %}